<div class="row">
    <div class="input-field col s12">
        <label for="name">Имя</label>
        <input id="name" type="text" #name="ngModel" required [(ngModel)]="data.name">
        <span class="helper-text red-text" *ngIf="!data.name">
            Введите имя
        </span>
    </div>
    <!--ToDo-->
    <div class="input-field col s12">
        <label>Роль</label>
        <select [(ngModel)]="data.role" name="data.role" required>
            <option *ngFor="let role of userRoles" [value]="role.role">
                {{role.description}}
            </option>
        </select>
        <span class="helper-text red-text" *ngIf="!data.role">
            Выберите пользователя
        </span>
    </div>
    <!--ToDo-->
    <div class="input-field col s12">
        <label for="description">Описание</label>
        <input id="description" type="text" [(ngModel)]="data.description">
    </div>

    <div>
        <button class="btn btn-small waves-effect waves-light"
                [mat-dialog-close]="data"
                [disabled]="!data.name || !data.role">
            Готово
        </button>
    </div>
</div>
