<a routerLink="/"><i class="material-icons go-back">arrow_back</i></a>
<div class="auth-block">
    <form class="card" [formGroup]="form" (ngSubmit)="login()">
        <div class="card-content">
            <span class="card-title">Войти в систему</span>
            <div class="input-field">
                <input id="name" type="email" formControlName="name"
                       [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
                <label for="name">Имя пользователя:</label>
                <span *ngIf="form.get('name').invalid && form.get('name').touched" class="helper-text red-text">
                    <span *ngIf="form.get('name').errors['required']">Имя пользователя не должно быть пустым.</span>
                </span>
            </div>
            <div class="input-field">
                <input id="password" type="password" formControlName="password"
                       [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
                <label for="password">Пароль:</label>
                <span *ngIf="form.get('password').invalid && form.get('password').touched" class="helper-text red-text">
                    <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым.</span>
                </span>
            </div>
        </div>
        <div class="card-action">
            <button class="modal-action btn waves-effect" type="submit" [disabled]="form.invalid || form.disabled">
                Войти
            </button>
        </div>
    </form>
</div>
