<h1>Добавление шаблона уведомления</h1>
<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>{{clientNotificationService.fieldNames['message']}}</mat-label>
    <input matInput formControlName="message">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>{{clientNotificationService.fieldNames['description']}}</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>{{clientNotificationService.fieldNames['status']}}</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{status.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<button class="btn waves-effect waves-light" (click)="addOrder()">Добавить</button>
