<h1 mat-dialog-title>Настройки уведомлений пользователей</h1>
<ng-container *ngIf="(settings$ | async) as settings">
    <div mat-dialog-content>
        <mat-label>Период автоматической проверки статусов отправленных сообщений (рекомендуется 60000) [мс]</mat-label>
        <input matInput [(ngModel)]="settings.automaticStatusCheckPeriod" type="number">

        <mat-label>Логин для стороннего сервиса уведомлений</mat-label>
        <input matInput [(ngModel)]="settings.clientsNotificationServiceLogin">

        <mat-label>Пароль для стороннего сервиса уведомлений</mat-label>
        <input matInput [(ngModel)]="settings.clientsNotificationServicePass">

        <mat-label>Задержка между запросами на сервер отправки сообщений (рекомендуется 60000) [мс]</mat-label>
        <input matInput [(ngModel)]="settings.delayBetweenRequests" type="number">

        <mat-checkbox [(ngModel)]="settings.isEnable">Включить/Отключить</mat-checkbox>
        <br><br>

        <mat-label>Пауза в запросах при получении кода ошибки 4 (IP Заблокирован) [минут]</mat-label>
        <input matInput [(ngModel)]="settings.pauseOnIpBlockedErrorInMinutes" type="number">

        <mat-label>Пауза в запросах при получении кода ошибки 9 (Слишком частые запросы) [минут]</mat-label>
        <input matInput [(ngModel)]="settings.pauseOnManyRequestsErrorInMinutes" type="number">

        <mat-label>Таймаут запроса [мс]</mat-label>
        <input matInput [(ngModel)]="settings.requestTimeout" type="number">

        <mat-label>Адрес стороннего сервиса уведомлений</mat-label>
        <input matInput [(ngModel)]="settings.serviceUrl">

        <mat-label>Автоматически проверяемые статусы отправленных сообщений</mat-label>
        <div class="table-container">
            <button class="btn waves-effect waves-light" (click)="addStatus()">
                <i nz-icon nzType="plus"></i>
            </button>
            <nz-table #smallTable nzSize="small" [nzData]="settings.automaticalyCheckedStatuses">
                <thead>
                <tr>
                    <th>Название</th>
                    <th style="width: 40px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of smallTable.data; index as i;">
                    <td>
                        <mat-select [(ngModel)]="settings.automaticalyCheckedStatuses[i]">
                            <mat-option *ngFor="let status of statuses" [value]="status.value">
                                {{status.label}}
                            </mat-option>
                        </mat-select>
                    </td>
                    <td>
                        <button nz-button nzType="danger" nzSize="small" (click)="deleteStatus(i)"><i nz-icon
                                                                                                      nzType="close"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="btn waves-effect waves-light" [mat-dialog-close]="settings">Сохранить</button>
    </div>
</ng-container>
