.content-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;

  img {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(18, 17, 128, 0.81);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }

  h1, p {
    color: white;
    text-align: center;
  }

  h1 {
    padding-top: 6em;
    font: {
      size: 60px;
    };
  }

  p {
    padding-top: 1em;
    font: {
      size: 30px;
    }
  }
}

zxing-scanner {
  max-width: 100%;
}

header {

  position: sticky;
  top: 0;
  //padding: 10px;
  background: #333;
  display: flex;
  padding: 1px 0 1px 80px;

  button {
    margin-left: 8px;
  }

  mat-form-field {

    width: 100%;
    font-weight: bold;

    ::ng-deep {
      .mat-form-field-wrapper {

        padding: 0;

        .mat-form-field-flex {
          padding-top: 0;
        }
      }

      .mat-form-field-underline {
        bottom: 0;
      }
    }

    option {
      padding: 10px;
      line-height: 2;
      background: #474747;
      color: #fff;
    }
  }
}

.result-container {
  position: sticky;
  bottom: 0;
}

.results {
  padding: 15px;
  background: #02c3c3;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  small {
    font-weight: bolder;
    display: block;
    font-size: 60%;
    margin: -.6em 0 0 0;
  }

  button {
    min-width: fit-content;
  }

  button.mat-icon-button {
    background: none;
    border: none;
    line-height: 1;
    font-weight: bolder;
    font-size: 120%;
    float: right;
    color: #fff;
    $mg: 8px;
    margin: (-$mg) (-$mg) (-$mg) $mg;
  }
}

h2 {
  padding: 0 16px;
  color: #fff;
}
