.table-container {
  height: calc(100vh - 280px);
  width: 100%;
  overflow: auto;

  th:not(:last-of-type) {
    padding-right: 20px;
  }
}

h1 {
  text-align: center;
  margin: 20px auto;
}

table {
  table-layout: fixed;

  th:not(:last-of-type) {
    width: 100px;
  }

  th:last-of-type {
    width: 40px;
  }

  td:not(:last-of-type) {
    word-wrap: break-word;
    padding-right: 20px;
  }
}
