<h1 class="center mb1">Сменить пароль</h1>
<div class="row">
  <div class="input-field col s12">
    <label for="oldPassword">Старый пароль</label>
    <input id="oldPassword" type="text" #oldPassword="ngModel" required [(ngModel)]="data.oldPassword">
    <span class="helper-text red-text" *ngIf="!data.oldPassword && oldPassword.touched">Введите старый пароль</span>
  </div>

  <div class="input-field col s12">
    <label for="newPassword">Новый пароль</label>
    <input id="newPassword" type="text" #newPassword="ngModel" required [(ngModel)]="data.newPassword">
    <span class="helper-text red-text" *ngIf="!data.newPassword && newPassword.touched">Введите новый пароль</span>
  </div>

  <div>
    <button class="btn btn-small waves-effect waves-light"
            [mat-dialog-close]="data"
            [disabled]="!data.oldPassword || !data.newPassword">
      Готово
    </button>
  </div>
</div>
