h1 {
  text-align: center;
  margin: 0 auto 20px;
}

form {
  height: 86%;
  overflow: auto;
  margin-bottom: 20px;

  mat-form-field {
    width: 100%;
  }
}

button {
  margin-left: auto;
  display: block;
}
