/* You can add global styles to this file, and also import other style files */
@import './../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~materialize-css/dist/css/materialize.min.css";

.a-sidenav {
  transform: translateX(0) !important;
  width: 250px !important
}

.a-sidenav h4 {
  padding: 0 30px;
  opacity: .8;
  font-size: 2rem
}

.a-sidenav .bold.last {
  position: absolute;
  bottom: 62px;
  width: 100%
}

main, footer {
  margin-left: 250px
}

.content {
  padding: 0 30px
}

.m0 {
  margin: 0
}

.mr1 {
  margin-right: 10px
}

.mb2 {
  margin-bottom: 20px
}

.mb1 {
  margin-bottom: 10px
}

.p10 {
  padding: 10px !important
}

.pointer {
  cursor: pointer
}

.order-row {
  flex-wrap: wrap
}

.order-row .card {
  width: 30%;
  min-width: 175px;
  margin-right: 20px
}

.order-img {
  height: 100px !important
}

.frow {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0
}

.page-title a {
  color: black;
  opacity: .8
}

#create-modal {
  max-width: 500px
}

.page-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0
}

.page-title h3, .page-title h4 {
  margin: 0;
  font-size: 2.3rem
}

.page-subtitle h4 {
  margin: 0;
  font-size: 2rem
}

.order-summary {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding-right: 30px
}

.order-summary p {
  margin-bottom: 0 !important
}

.order-position-input {
  margin-top: 0;
  margin-bottom: 0
}

.order-position-input input {
  margin-bottom: 0 !important
}

.fr {
  display: flex;
  margin-bottom: 15px
}

.fr .col.order {
  width: 120px
}

.fr .col.filter-pickers {
  padding: 0 20px;
  width: 40%;
  display: flex
}

.fr .col.filter-pickers .input-field {
  width: 45% !important;
  min-width: 120px;
  margin-right: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

.fr .col.range {
  width: 40%;
  padding-top: 44px
}

.filter {
  margin-bottom: 15px
}

.hide {
  display: none !important
}

.tap-target {
  background-color: #e0e0e0 !important
}

.btn-floating.tap-target-origin {
  background-color: #bdbdbd !important
}

.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px
}

.auth-block .card {
  width: 400px
}

.nav-wrapper {
  padding-left: 20px
}

.collection-item-icon {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10
}

.collection-item-icon i.material-icons:hover {
  color: #f44336 !important;
  transition: .3s color
}

.pl0 {
  padding-left: 0 !important
}

.average-price {
  padding: 15px 0;
  font-size: 20px
}

.analytics-block {
  width: 100%;
  height: 300px
}

.pb3 {
  padding-bottom: 30px
}

/* ***
Стили для корректного отображения табов в материалайзе
https://github.com/Dogfalo/materialize/issues/5436
Без стилей табы автоматом ограничиваются высотой 400px
*** */
.tabs-content.carousel.carousel-slider .carousel-item.active {
  position: relative;
}

.tabs-content.carousel.carousel-slider {
  height: auto !important;
}

/* Конец стилей для корректного отображения табов */

.state-color-green {
  color: rgb(41, 196, 77)
}

.state-color-red {
  color: rgb(221, 80, 67)
}

.refresh-btn {
  position: absolute;
  top: 80px;
  right: 30px
}

.top-nav {
  .nav-wrapper {
    background-color: #f7822f;
  }
}

.success-class {
  color: rgb(41, 196, 77)
}

.error-class {
  color: rgb(221, 80, 67)
}

.flex-align {
  display: flex;
  align-content: center;
  width: fit-content;
}

//

nz-range-picker nz-picker input.ant-calendar-range-picker-input {
  all: initial;
  color: #6b6b6b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

date-range-popup {
  calendar-input input {
    all: initial;
    border-bottom: initial !important;
    box-shadow: initial !important;
  }
}

nz-range-picker.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #26a69a;
}

nz-range-picker.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #26a69a;
  box-shadow: 0 0 0 2px rgba(38, 166, 154, 0.2);
}

.ant-calendar-range-picker-separator {
  padding: 0 16px 0 0;
}

li a {
  width: 100%;
}

date-table {
  .ant-calendar-today .ant-calendar-date {
    border-radius: 50%;
    background-color: #26a69a;
    border-color: #26a69a;
    color: white;
  }
}

.ant-calendar-cell div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

date-range-popup .ant-calendar-range {
  width: 608px;
}

.ant-calendar-range td.ant-calendar-in-range-cell::before {
  background: rgba(38, 166, 154, 0.2);
}

.ant-calendar-range td.ant-calendar-in-range-cell::before, td .ant-calendar-date:hover {
  background: rgba(38, 166, 154, 0.2);
}

.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date, .ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date, td .ant-calendar-date:active {
  border-radius: 50%;
  color: #26a69a !important;
  background-color: transparent !important;
  border-color: #26a69a !important;
}

// Material to Normalize

mat-paginator.mat-paginator {
  background: transparent;
}

table.mat-table {
  box-shadow: none;
  background-color: transparent;
}

th.mat-header-cell {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

td.mat-cell {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 14.5px;
  line-height: 1.15;
}

mat-form-field.mat-form-field-appearance-fill {
  .mat-form-field-infix {
    //padding: 0;

    input, input:not([type]):focus:not([readonly]) {
      margin: 0;
      border: none;
      box-shadow: none;
      height: 100%;
    }
  }
}

.mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
  margin-top: -.5em;
}

mat-form-field.mat-form-field:not(.mat-form-field-invalid) .mat-form-field-ripple {
  background-color: #26a69a;
}

mat-form-field.mat-form-field:not(.mat-form-field-invalid) .mat-form-field-label {
  color: #26a69a;
}
